body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.headercss {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
}
.logocss {
  display: flex;
}
.weblogocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.studiologocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.menucss {
  display: flex;
  gap: 50px;
}

.menucss li,
a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  height: 24px;
}

.menucss li,
a:hover {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #404bbf;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  transition: transform 250ms cubic-bezier(1, 0.5, 0.6, 1);
}

.menustudiocss::after {
  display: block;
  content: "";
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  margin-top: 22px;
}



.addresscss {
  display: flex;
  gap: 40px;
}

.addresscssmail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #434455;
  text-decoration: none;
}

.addresscssmail:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #404bbf;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(1, 0.5, 0.6, 1);
}

.addresscsstel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #434455;
  text-decoration: none;
}

.addresscsstel:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: regular;
  color: #404bbf;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(1, 0.5, 0.6, 1);
}

.bannercss {
  background-color: #2e2f42b2;
  background-blend-mode: darken;
  background-image: url(../images/people-office\ 1.jpg);
  background-size: cover;
}

.h1css {
  width: 496px;
  text-align: center;
  margin: 0 auto;
}

.header1css {
  color: white;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1;
}

.btncss {
  padding-top: 60px;
  padding-left: 630px;
}

.buttoncss {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}

.buttoncss:hover {
  width: 169px;
  height: 56px;
  background-color: #404bbf;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  transition: transform 250ms cubic-bezier(1, 0.5, 0.6, 1);
}

.icon {
  width: 64px;
  height: 64px;
}

.iconstrategy {
  display: flex;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.subjectscss {
  display: flex;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
}

.subjectscss li {
  list-style: none;
}

.contentcss {
  font-style: Regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contentheaders {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ourteamcss {
  background-color: #f4f4fd;
}
.ourteamcss li {
  list-style: none;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
}

.ourteamheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  padding-bottom: 72px;
}

.ourteamstaff {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.socialicons {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.socialicss {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
  justify-content: center;
}

.stafficons {
  padding: 12px;
  width: 40px;
  height: 40px;
}
.socialicons:hover {
  background-color: #404bbf;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 250ms cubic-bezier(1, 0.5, 0.6, 1);
}

.namecss {
  font-weight: 500;
  font-size: 20px;
  line-height: 3.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.titlecss {
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}

.portfoliobox {
  position: relative;
  width: 360px;
  height: 300px;
  margin: 0 auto;
  background-color: #4d5ae5;
  overflow: hidden;
}

.portfolioverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 400;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(1, 0.5, 0.6, 1);
}

.portfoliobox:hover .portfolioverlay {
  transform: translatey(0);
}

.portfolioverlay p {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.portfolio {
  /*border: 1px solid #e7e9fc;*/
  width: 1128px;
  margin: 0 auto;
}

.portfolio li {
  list-style: none;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio li:hover {
  list-style: none;
  box-shadow: 0px 3px 2px 0px #2e2f4214, 0px 2px 2px 0px #2e2f4229,
    0px 2px 6px 0px #2e2f4214;
  /* border-bottom: 1px solid #e7e9fc;*/
}

.portfolioGroup1 {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.portfolioGroup2 {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 40px;
}

.ourportfoliocss {
  font-weight: 700;
  font-size: 36px;
  line-height: 3.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfoliofontcss {
  font-weight: 500;
  font-size: 20px;
  line-height: 3.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.apptitlecss {
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
}

.portfolio-img {
  width: 360px;
  height: 300px;
}

.footerbgcss {
  background-color: #2e2f42;
  display: flex;
  gap: 120px;
}

.footerinfocss {
  padding-left: 100px;
}

.footerinfofontcss p {
  width: 264px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footerlogocss {
  display: flex;
  align-items: center;
}

.footerweblogocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footerstudiologocss {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footericons {
  margin-top: 16px;
}

.ftsocialicons {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footersocialicss {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
  justify-content: center;
}

.footercompicons {
  padding: 12px;
  width: 40px;
  height: 40px;
}

.ftsocialicons:hover {
  background-color: #31d0aa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 250ms cubic-bezier(1, 0.5, 0.6, 1);
}

.footersocialicons p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.emaillabelfooter {
  display: block;
  padding-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.emailboxfooter:placeholder-shown {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 16px;
}

.emailboxfooter:hover {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #31D0AA;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 16px;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emailboxfooter{
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #31D0AA;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 16px;
  outline: none;
}

.susbsbutton {
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  margin-left: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  gap: 16px;
}

.susbsbutton:hover {
  width: 165px;
  height: 40px;
  background-color: #31D0AA;
  border-radius: 4px;
  border: none;
  margin-left: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  gap: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.susbscribeicon{
  width: 24px;
  padding-top: 6px;

}


.modalcss{
  width: 1440px;
  height: 672px;
  background-color: #2e2f42;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  
}

.modalformbg{
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background-color: #FCFCFC;
  margin-top: 80px;

}

.modalformcssdiv{
  margin-top: 16px;
}

.formheadercss{
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-top: 35px;

}

.formlabels{
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #8E8F99;
}

.modalformcss{
  display: block;
  width: 360px;
  height: 336px;
  margin: 0 auto;
}

.textboxcss{
width: 360px;
height: 40px;
border-radius: 4px;
border: 1px solid #2E2F42;
outline: none;
}

.textboxcss:focus{
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #4D5AE5;
  outline: none;
}

.icon-personcss{
  width: 12px;
  height: 12px;
  top: 3px;
  left: 3px;
  display: flex;
}

.icon-phonecss {
  width: 13px;
  height: 13px;
  top: 5px;
  left: 5px;
  display: flex;
}

.icon-emailcss {
  width: 15px;
  height: 12px;
  top: 6px;
  display: flex;
}

.textareacss{
  width: 360px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #2E2F42;
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #2E2F4266;
    padding-left: 16px;
    padding-top: 6px;

}

.formbuttoncss{
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  background-color: #4D5AE5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-top: 24px;
}

.iconclose{
  width: 24px;
  height: 24px;
  border: 1px solid #0000001A;
  border-radius: 50%;
  background-color: #E7E9FC;
  margin-left: 360px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconclose:hover {
  width: 24px;
  height: 24px;
  border: 1px solid #0000001A;
  border-radius: 50%;
  background-color: #404BBF;
  margin-left: 360px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.closeicon{
  width: 8px;
  height: 8px;
}

